.navbar-custom {
    background-color: salmon;
    color: black;
}

.navbar-brand {
    color: #000;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background: #666;
}

.navbar-nav > li > a{
    color: #000;
    /* font-weight: bold; */
}

.navbar-nav > li > a:hover {
    color: #EEE;
}

.navbar-nav > li > a:focus {
    color: #EEE;
    font-weight: bold;
}