<form [formGroup]="signInForm" (ngSubmit)="onLogIn()"> 
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" id="username" formControlName="username" class="form-control">
        <span *ngIf="!signInForm.get('username').valid &&signInForm.get('username').touched" class="help-block">
            Please enter a valid user name (minimum 6 characters, max 32)
        </span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
        <span *ngIf="!signInForm.get('password').valid &&signInForm.get('password').touched" class="help-block">
            Please enter a valid password (minimum 6 characters)
        </span>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!signInForm.valid">Log In</button>
        <button class="btn btn-primary" type="button" (click)="navigateToRegister()">Sign Up</button>
    </div>  
</form>