.dark {
    background-color: #222;
    color: #DDD
}

.mid {
    background-color: #666;
    color: #EEE;
    font-weight: bold;
    font: 'arial';
    font-size: 16px;
}

table {
    padding: 8px;
    margin-top: 10px;
}

.rounded-box {
    margin-top: 10px;
    padding: 20px 0px 80px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.26);
    border-radius: 8px;
}