<div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
</div>

<app-time-edit-box [entry]="selectedEditEntry" [userDisplayName]="userDisplayName" [students]="students" (close)="handleUpdatedEntry($event)" *ngIf="selectedEditEntry"></app-time-edit-box>
<table class="table dark" width="100%">
    <thead class="mid">
        <tr>
            <th class="col-md-auto" *ngIf="!isPreceptor">Preceptor</th>
            <th class="col-md-auto" *ngIf="!isLearner">Student</th>
            <th class="col-md">Rotation</th>
            <th class="col-md">Date</th>
            <th class="col-md-auto">Time</th>
            <th class="col-md-3">Notes</th>
            <th class="col-md-auto" *ngIf="isPreceptor">
                <button class="btn btn-success" type="button" (click)="onAddEntry()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of timeEntries">
            <td *ngIf="!isPreceptor">{{entry.preceptorDisplayName}}</td>
            <td *ngIf="!isLearner">{{entry.studentDisplayName}}</td>
            <td>{{entry.rotation}}</td>
            <td>{{entry.date.toLocaleDateString()}}</td>
            <td>{{entry.hours}} hour{{entry.hours > 1 ? 's' : ''}}</td>
            <td>{{entry.notes.substring(0, 200)}}</td>
            <td *ngIf="isPreceptor">
                <button class="btn btn-primary" type="button" (click)="onEditEntry(entry)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-danger" type="button" (click)="onDeleteEntry(entry.id)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>