.dark {
    background-color: #222;
    color: #DDD
}

.mid {
    background-color: #666;
    color: #EEE;
    font-weight: bold;
    font: 'arial';
    font-size: 16px;
}

button {
    margin-left: 10px;
}